<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.green.seenema.user.store.mapper.OrderMapper">

	<!-- 구매하기 -->
	<insert id="buy">
		INSERT INTO order_tbl (orderNum, productCode, price, count, id, userName, refundCode) 
		VALUES (#{order.orderNum}, #{order.productCode}, #{order.price}, #{order.count}, #{order.id}, #{order.userName}, #{order.refundCode});
	</insert>
	
	<!-- 초기 주문내역 -->
	<select id="getOrderList" resultType="OrderVO">
		SELECT 
			DATE_FORMAT(ot.orderDate, "%Y-%m-%d") as orderDate, ot.orderNum, pt.productCode, pt.productName, pt.productInfo, pt.price, 
			ot.count, (ot.price * ot.count) AS totalPrice, ot.status
		FROM seenema.product_tbl pt RIGHT JOIN seenema.order_tbl ot 
		ON pt.productCode  = ot.productCode WHERE id = #{id} ORDER BY ot.orderDate DESC LIMIT #{count}, 10;
	</select>
	
	<!-- 주문내역 날짜별 조회 -->	
	<select id="getSearchOrderList" resultType="OrderVO">
		SELECT 
			DATE_FORMAT(ot.orderDate, "%Y-%m-%d") as orderDate, ot.orderNum, pt.productCode, pt.productName, pt.productInfo, pt.price, 
			ot.count, (ot.price * ot.count) AS totalPrice, ot.status
		FROM seenema.product_tbl pt RIGHT JOIN seenema.order_tbl ot 
		ON pt.productCode  = ot.productCode 
		WHERE id = #{id} AND searchDate BETWEEN #{startDate} AND #{endDate} AND ot.status = #{status} 
		ORDER BY orderdate DESC LIMIT #{count}, 10;
	</select>
	
	<!-- 제품상세정보 -->
	<select id="getOrderDetail" resultType="OrderVO">
		SELECT 
			ot.searchDate, ot.orderNum, ot.refundCode, pt.productName, pt.productInfo, pt.price, ot.count, (ot.count * ot.price) as totalPrice, ot.id, ot.userName, ot.status, pt.productImage 
		FROM seenema.product_tbl pt RIGHT JOIN seenema.order_tbl ot 
		on pt.productCode = ot.productCode WHERE orderNum = #{orderNum};
	</select>
	
	<!-- 환불 -->
	<update id="refund">
		UPDATE order_tbl SET status = -1 WHERE orderNum = #{orderNum};
	</update>
	
	<!-- 페이지네이션 카운트(전체) -->
	<select id="getOrderCount" resultType="int">
		SELECT COUNT(*) FROM order_tbl WHERE id = #{id};
	</select>
	
	<!-- 페이지네이션 카운트(조회) -->
	<select id="getSearchOrderCount" resultType="int">
		SELECT COUNT(*) FROM order_tbl WHERE id = #{id} AND status = #{status}; 
	</select>
	
	<!-- 제품 완료시 매출 반영 -->
	<update id="updateProductSales">
		UPDATE product_tbl pt SET productSales = (pt.productSales + 1) WHERE productCode = #{productCode};
	</update>
</mapper>