<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.green.seenema.mapper.ReservationMapper">
    <select id="searchReservationList" resultType="org.green.seenema.vo.ReservationVO">
        SELECT * FROM reservation_tbl WHERE id = #{id} AND status = 1 ORDER BY reservationDate DESC LIMIT 0, 10;
    </select>

    <insert id="regReservation">
        INSERT INTO reservation_tbl (id, ticketCode, movieCode, movieTitle, theaterPlace, theater, ticketPrice,  reservationDate, movieDate, reservationTime, seats, visitors) VALUES (#{id}, #{ticketCode}, #{movieCode}, #{movieTitle}, #{theaterPlace}, #{theater}, #{ticketPrice}, NOW(), #{movieDate}, #{reservationTime}, #{seats}, #{visitors})
    </insert>
    <select id="loadSeats" resultType="String">
        SELECT seats
        FROM reservation_tbl
        WHERE movieCode = #{movieCode} AND theater = #{theater} AND movieDate = #{movieDate} AND reservationTime = #{reservationTime} AND status = 1;
    </select>

    <update id="cntPlus">
        UPDATE movie_tbl SET cnt = cnt + #{visitors} WHERE movieCode = #{movieCode}
    </update>

    <select id="getSearchReservationList" resultType="org.green.seenema.vo.ReservationVO">
        SELECT *
        FROM reservation_tbl
        WHERE id = #{id} AND searchDate BETWEEN #{startDate} AND #{endDate} AND status = #{status}
        ORDER BY reservationDate DESC;
    </select>

    <select id="searchReservation" resultType="org.green.seenema.vo.ReservationVO">
        SELECT * FROM reservation_tbl WHERE ticketCode = #{ticketCode}
    </select>

    <select id="selectTheater" resultType="org.green.seenema.vo.TheaterVO">
        SELECT * FROM seenema.theater_tbl WHERE theaterName = #{theaterName};
    </select>

    <update id="cancelReservation">
        UPDATE reservation_tbl
        SET status = 0
        WHERE ticketCode = #{ticketCode};
    </update>

    <select id="getMovie" resultType="org.green.seenema.vo.MovieVO">
        SELECT * FROM movie_tbl WHERE movieCode = #{movieCode}
    </select>
</mapper>
