@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	font-family: "Noto Sans KR", "Roboto", "dotum", "sans-serif";
	color: black;
}
main{
	width: 1300px;
	min-height: 1050px;
	/* border: 1px solid red; */
	margin: 30px auto;
	display: flex;
	
}
footer p{
	color: white;
}

.sideBar{
	width: 200px;
	/* border: 1px solid blue; */
	margin-left: 100px;
	margin-right: 50px;
}
.section{
	width: 800px;
	/* border: 1px solid green; */
}

.pageBigTitle{
	font-weight: bold;
	font-size: 25px;
	margin: 5px auto;
}

.pageSmallTitle{
	padding: 10px 0;
}

.sideBarMenu{
	height: 50px;
	text-align: center;
	line-height: 50px;
	margin-bottom: 3px;
	/* border: 1px solid red; */
	cursor: pointer;
	font-weight: bold;
}

.sideBarMenu:hover{
	background-color: #FB4357;
	color: white;
}

.noticeInfoWrapTop{
	display: flex;
	border-top: 2px solid gainsboro;
}

.noticeInfoWrapTop > div{
	background-color: #F8F8F8;
	font-size: 14px;
	padding: 10px 0;
}

.noticeInfoWrapTop > div:nth-child(1){
	padding-left: 10px;
	font-weight: bold;
	width: 550px;
}
.noticeInfoWrapTop > div:nth-child(2){
	text-align: center;
	width: 125px;
}
.noticeInfoWrapTop > div:nth-child(3){
	text-align: center;
	width: 125px;
}

.bold{
	font-weight: bold;
}

.noticeInfoContent{
	padding: 20px 10px;
	border-bottom: 2px solid gainsboro;
}
.goBtnWrap{
	margin: 20px 0;
	text-align: right;
}
#goListBtn{
	padding: 5px 10px;
	border: 1px solid black;
	cursor: pointer;
	color: white;
	background-color: black;
}
.prevContent{
	display: flex;
}

.nextContent{
	display: flex;
}
.head{
	width: 100px;
	border: 1px solid gainsboro;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 0;
}

.anchorWrap{
	padding: 10px 0;
	width: 700px;
	padding-left: 10px;
	border: 1px solid gainsboro;
}

.ad > img{
	width: 200px;
}